body{
    font-family: 'Microsoft Yahei';
    width: 350px;
    /* border:1px solid #d6e9c6; */
}
.container{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.container .projectBox{
    text-align: center;
}
.container .projectBox h2{
    font-size: 18px;
    padding: 5px 0;
    background: #dff0d8;
    color: #3c763d;
}
.container .projectBox ul {
    margin: 10px 0;
    font-size:0;
}
.container .projectBox ul li {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin: 4px 10px;
    transition:all 0.3s ease
}
.container .projectBox ul li:hover{
    background: #31c27c;
}
.container .projectBox ul li:hover a{
    color: #fff;
}
.container .projectBox ul li a{
    font-size: 14px;
    color: #666;
}
.container .errBox{
    text-align: center;
}
.container .errBox p{
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    color: #555;
}
.container .errBox button{
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    color:#fff;
    border-radius: 5px;
    margin:0 auto;
    padding: 5px 10px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    background: #65c279;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
}